<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>UPS ECUADOR</h1>
<app-menu></app-menu>
<router-outlet></router-outlet> <!-- ESTE COMPONENTE ES EL MAS IMPORTANTE PUES POR ESTE SE RENDERIZAN LAS OTRAS PAGINAS QUE ESTAN EN LOS COMPONENTES -->

